.video-preview {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    /* margin-right: 15px; */
}

.video-preview__thumbnail {
    width: 100%;
    margin-bottom: 12px;

}

.video-preview__info__avatar {
    display: inline-block;
    width: 40px;
    vertical-align: top;
}

/* .video-preview__info {
    display: inline-block;
    width: 200px;
} */

.video-preview__info__text h4 {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.video-preview__info__text p {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-preview__info {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 6px;
}