.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 425px) {
    .video-grid{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 426px) and (max-width: 700px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 701px) and (max-width: 999px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.video-preview {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    /* margin-right: 15px; */
}

.video-preview__thumbnail {
    position: relative;

}

.video-preview__thumbnail__image {
    width: 100%;
    margin-bottom: 12px;

}

.video-preview__thumbnail__length{
    position: absolute;
    bottom: 20px;
    right: 5px;
    background-color: black;
    color: white;
    z-index: 1;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding: 4px;
    font-weight: 500;
    border-radius: 2px;
}

.video-preview__info {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 6px;
}

.video-preview__info__avatar {
    display: inline-block;
    width: 40px;
    vertical-align: top;
}

/* .video-preview__info {
    display: inline-block;
    width: 200px;
} */

.video-preview__info__text h4 {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.video-preview__info__text p {
    font-size: 12px;
    color: rgb(96, 96, 96);
}


